spring:
  application:
    name: mega-api
  threads:
    virtual:
      enabled: true
  # AQUI ESTÁ A CORREÇÃO:
  config:
    import: "optional:configserver:http://localhost:8888/"

  cloud:
    config:
      fail-fast: false

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000

management:
    endpoints:
      web:
        exposure:
          include: "health,info,prometheus" # Libera a URL /actuator/prometheus
    metrics:
      distribution:
        percentiles-histogram:
          http.server.requests: true # Cria histogramas para ver latência p95/p99
    prometheus:
      metrics:
        export:
          enabled: true